<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить Продукт </title>
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="/" aria-label="Главная">
                <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        stroke="#212b36"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        fill="none"
                >
                    <circle cx="12" cy="8" r="5" />
                    <path d="M3,21 h18 C 21,12 3,12 3,21"/>
                </svg>
            </a>

        </nav>
    </header>
    <p></p>
<div>
    </head>
<body>

Добавить продукт
<p>
  <form action="templates/AddP" method="post">

        <input type="text" name="title" placeholder="Добавте название товара" class="form-control"><p>
        <input type="text" name="full_text" placeholder="Описание товара" class="form-control"><p>
        <input type="text" name="Characteristic" placeholder="Характеристика товара" class="form-control"><p>
        <button type="submit " class="btn btn-success">Добавить товар </button><p>
  </form>
</body>



</html>